* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}


header {
    background-color: rgb(245, 245, 220);
    padding: 5px;
    display: flex;
    gap: 190px;
}

a {
    text-decoration: none;
    margin: auto;
    transition-duration: 0.5s;
}

.logo {
    animation: alternate infinite 1s pulsar;
}

@keyframes pulsar {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.2);
    }
}

main {
    position: relative;
    height: 100dvh;
    background: url(assets/img/320px.jpg) no-repeat;
    background-size: cover;
}

.form {
    padding: 10px;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    overflow: hidden;
    border-radius: 20px;
    height: 480px;
    width: 270px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
}

.form,
.img {
    display: block;
}

.img {
    background: url(assets/img/320px.jpg) no-repeat;
    height: 180px;
    background-size: cover;
    background-position: left;
}

.info {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-bottom: 10px;
}

.input {
    width: 80%;
    height: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.199);
    transition-duration: 0.5s;
}

.input:hover {
    background-color: white;
}

.img1 {
    height: 24px;
}

.sub {
    height: 20px;
    width: 30%;
    position: relative;
    left: 95px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.144);
    transition-duration: 0.5s;
    font-size: 16px;
}

.sub:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor: pointer;
}

a:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}


/*? Responsividade*/

@media(min-width:768px) {

    main {
        position: relative;
        height: 94dvh;
        background: url(assets/img/1920px.jpg) no-repeat;
        background-size: cover;
    }

}

@media (min-width:1024px) {

    main {
        position: relative;
        height: 94.2dvh;
        background-size: cover;
    }

}

/*? styele do sobre.html*/

.infoo {
    margin: 20px;
}

.font {
    margin-top: 10px;
    background-color: rgba(165, 42, 42, 0.562);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Img {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: px;
    transition-duration: 1s;

}

.font:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    cursor: pointer;
}

footer {
    font-size: 15px;
    background-color: beige;
    text-align: center;
}

@media (min-width:375px) {
    footer {
        font-size: 15px;
        background-color: beige;
        padding: 20px;
        margin-top: 80px;
    }
}

@media (min-width:1024px) {
    footer {
        font-size: 15px;
        background-color: beige;
        padding: 20px;
        margin-top: 80px;
    }

    .font {
        width: 50%;
    }

}

.img-1 {
    position: relative;
    height: 100dvh;
    background: url(assets/img/gta-6-2026-official-poster-nx-480x800.jpg) no-repeat;
    background-size: cover;
}

.img-2 {
    background: url(assets/img/gta-6-2026-official-poster-nx-480x800.jpg) no-repeat;
    height: 250px;
    background-size: cover;
    background-position: left;

}

.form-2 {
    position: relative;
    top: -30px;
}

@media(min-width:1024px) {
    .img-1 {
        position: relative;
        height: 94.2dvh;
        background: url(assets/img/1920x1080.jpg) no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    .font-2 {
        position: relative;
        left: 25%;
    }

}

.bd {
    background-color: beige;

}